<h1> Yeeeee </h1>

<form action="<%= goals_path %>" method="POST" >
<input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />

<label>Title</label>
<input type="text" name="goals[title]" />

<label>Notes</label>
<input type="text" name="goals[notes]" />

<label>Status</label>
<input type="text" name="goals[status]">

<input type="submit" value="Create" />
</form>